<div class="footer-container">
  <div class="navigation">
    <ul>
      <li><a routerLink='/Home' routerlinkActive='selected'>Home</a></li>
      <li><a routerLink='/Home' routerlinkActive='selected'>Sobre a smartmentor</a></li>
      <li (click)="openDialog('Olá, quer usar o guru?')">Quero usar o guru</li>
      <li (click)="openApartofDialog()">Quero ser mentor</li>
      <li (click)="openDialog('Fale diretamente com o guru. Alguém do nosso suporte esntrará em contato')">Contato</li>
      <li> <a href="https://smartmentor.co/" target="_blank"> Blog</a></li>
    </ul>
  </div>
  <div class="rights">
    <span> <small> Smartmentor - &copy; 
       Todos os direitos reservados </small> </span>
    <div class="social">
      <div class="icon">
        <a href="https://www.facebook.com/SmartMentorBr/" target="_blank"><i class="fa fa-facebook-f"></i></a>
      </div>
      <div class="icon">
        <a href="https://twitter.com/smartmentorbr" target="_blank"><i class="fa fa-twitter"></i></a>
      </div>
      <div class="icon">
        <a href="https://www.instagram.com/smartmentorbr/" target="_blank"><i class="fa fa-instagram"></i></a>
      </div>
      <div class="icon">
        <a href="https://www.linkedin.com/company/smartmentor" target="_blank"><i class="fa fa-linkedin"></i></a>
    </div>
    </div>
  </div>
</div>