<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title>Planos</title>
        </head>
        <body>
            <div class="plans-header">
                <h1> Planos </h1><br>
                <p> Geralmente se paga caro para resolver os nossos desafios.<br>
                Só que aqui não! Temos planos com preços de start-up para start-up.</p>
            </div>

            <div class="plans-assets">
                <div class="plans-asset">
                    <img src="#" class="start">
                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting,Lorem Ipsum is simply dummy </p>
                    <ul>
                        <li> Lorem Ipsum is simply dummy text of the printing and typesetting,Lorem Ipsum is simply dummy </li>
                        <li> Lorem Ipsum is simply dummy text of the printing and typesetting,Lorem Ipsum is simply dummy </li>
                        <li> Lorem Ipsum is simply dummy text of the printing and typesetting,Lorem Ipsum is simply dummy </li>
                        <button class="start"> Grátis </button>
                    </ul>
                </div>
                <div class="plans-asset"> 
                    <img src="#" class="growt">
                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting,Lorem Ipsum is simply dummy </p>
                    <ul>
                        <li> Lorem Ipsum is simply dummy text of the printing and typesetting,Lorem Ipsum is simply dummy </li>
                        <li> Lorem Ipsum is simply dummy text of the printing and typesetting,Lorem Ipsum is simply dummy </li>
                        <li> Lorem Ipsum is simply dummy text of the printing and typesetting,Lorem Ipsum is simply dummy </li>
                        <button class="growt"> R$49,90 </button>
                    </ul>
                 </div>
                <div class="plans-asset"> 
                    <img src="#" class="exponential">
                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting,Lorem Ipsum is simply dummy </p>                    
                <ul>
                    <li> Lorem Ipsum is simply dummy text of the printing and typesetting,Lorem Ipsum is simply dummy </li>
                    <li> Lorem Ipsum is simply dummy text of the printing and typesetting,Lorem Ipsum is simply dummy </li>
                    <li> Lorem Ipsum is simply dummy text of the printing and typesetting,Lorem Ipsum is simply dummy </li>
                    <button class="exponential"> R$249,90 </button>
                </ul>
             </div>
            </div>
            
        </body>
</html>